# LAMBDA FUNCTION

In [3]:
def double(x):   # normal function creation
    return x*2
    
double(50)       # function call

100

In [5]:
x = lambda x:x*2  # lambda function creation
x(50)             # function call

100

In [11]:
def add(x,y):    # normal addition function
    return x+y
    
add(50, 50)      # function call

100

In [13]:
x = lambda x,y:x+y   # lambda addition function
x(20,30)             # function call

50

In [17]:
def max(x,y):         # normal max function creation
    if x>y:
        return x
    else:
        return y
        
max(35,45)           # function call

45

In [19]:
x = lambda x,y:x if x>y else y    # lambda max function creation
x(22, 49)                          # function call

49

# ITERABLES

In [23]:
num = [1,2,3,4,5]        # list is iterable
for i in num:
    print(i)

1
2
3
4
5

In [25]:
num1 = (1,2,3,4,5)      # tuple is iterable
for i in num1:
    print(i)

1
2
3
4
5

In [27]:
dict1 = {"name":"gokulesh","Reg No":"22mic0102"}        # dicitonary is iterable
for i in dict1.items():
    print(i)

('name', 'gokulesh')
('Reg No', '22mic0102')

In [29]:
name = "gokul"        # string is iterable
for i in name:
    print(i)

g
o
k
u
l

In [31]:
my_bytes = b"hello"           # byte is iterable
print("Iterating over a bytes object:")
for i in my_bytes:
    print(i)

Iterating over a bytes object:
104
101
108
108
111

# NON-ITERABLES

In [39]:
n = 1234567
str1 = str(n)         # Usage of type casting to make it iterables
for i in str1:
    print(i)

1
2
3
4
5
6
7

In [41]:
n = 1234567
add = 0
while n != 0:
    digit = n % 10    # no type casting is done but still iterables
    print(digit)
    n //= 10

7
6
5
4
3
2
1

In [43]:
c=456789
digits= [int(d) for d in str(c)]
print(digits)
for digit in digits:
    print(digit)

[4, 5, 6, 7, 8, 9]
4
5
6
7
8
9

# USE OF DIR() FUNCTION

In [49]:
new=['sam', 'ram' ,'tam','cam']
print(dir(new))          # provides the list of all possible methods

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [51]:
new=['sam', 'ram' ,'tam','cam']
l = new.__iter__()       # one way of creating iterator object
l1= iter(new)            # other way of creating iter object
print(l)
print(type(new))         # print the type and class of created object
print(type(l))
print(type(l1))

<list_iterator object at 0x000001BF1C342F80>
<class 'list'>
<class 'list_iterator'>
<class 'list_iterator'>

In [53]:
now=[2,5,7,8]
print(dir(now))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [57]:
print(next(l))
print(next(l))
print(next(l))
print(next(l))
print(next(l))    # displays error bcoz it has reached iterating the end of list
print(next(l))

StopIteration:

In [59]:
new=['sam', 'ram' ,'tam','cam']
looper = iter(new)
while True:           # exception handling if it reaches the end of list
    try:
        new1=next(looper)
        print(new1)
    except StopIteration:
        break

sam
ram
tam
cam

# MAP FUNCTION

In [63]:
def square (x):
        return x*x

numbers = [1,2,3,4,5]
print(list(map(square,numbers)))
print(list(map(lambda x: x*x ,numbers)))
print(list(filter(lambda x: x>3,numbers))) # filters the element that satisfies the conditions provided

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[4, 5]

In [67]:
names = ["sAm","cam","taM"] # original list
for i in names:
    i.upper()
print(names)
print(list(map(lambda x:x.lower(),names))) # convert the list elements into lower case

['sAm', 'cam', 'taM']
['sam', 'cam', 'tam']

# REDUCE FUNCTION

In [71]:
from functools import reduce
print(reduce(lambda x,y:x+y,numbers))  # applies the given contion and stores the value and iterates and starts performing the condition until it reaches the end

15

In [73]:
new=['money', 'cannot' ,'buy','everything']
from functools import reduce
print(reduce(lambda x,y:x+" "+y,new))  # way of using lambda function to join tokens

money cannot buy everything