# OFF BY ONE BEHAVIOUR

In [2]:
for i in range(5):      #the value of i starts from (0 to 5-1)
    print(i)

0
1
2
3
4

In [4]:
for i in range(1,5):   #the value of i starts from (1 to 5-1)
    print(i)

1
2
3
4

# SLICING A LIST

In [9]:
l=['a','b','c','d','e']  #given example list
print(l[:2])        #print first two element
print(l[-2:])       #print last two element
print(l[2:])        #print the 3rd element and above fron the list

['a', 'b']
['d', 'e']
['c', 'd', 'e']

# COPYING A LIST

In [12]:
my_fav=['cake','pizza','stew']  #creting the favorite list
friend_fav=my_fav[:]      #one way of copying a list
friend_fav1=my_fav        #other way of copying the list
print(friend_fav)         #print the copied list
print(friend_fav1)

['cake', 'pizza', 'stew']
['cake', 'pizza', 'stew']

In [14]:
print(id(friend_fav))      #printing the ids of different ways of list copying
print(id(friend_fav1))

1907017961472
1907017961664

In [19]:
my_fav.append('coke')     #appending a new value to my favourite list
print(friend_fav)         #pass by value
print(friend_fav1)        #pass by reference

['cake', 'pizza', 'stew']
['cake', 'pizza', 'stew', 'coke', 'coke']

# LOOPING THROUGH A SLICE

In [22]:
for s in my_fav[:3]:      # looping through a sliced part of the original list
    print(s.title())

Cake
Pizza
Stew

# TUPLES ARE IMMUTABLE

In [25]:
T=(500,600,700,800,900)
print(T)
print(T[1])    #accessing a particular index from the tuple

(500, 600, 700, 800, 900)
600

In [27]:
T[1]=-100    # as tuples are immutable values cannot be assigned for the index
print(T)     #produces error

TypeError: 'tuple' object does not support item assignment

# LOOPING THROUGH A TUPLE

In [30]:
for i in T[1:]:    #iterating the tuple by slicing a particular part
    print(i)

600
700
800
900

In [32]:
T=(100,200,300,400)    #complete reassignment of the created tuple is possible
print(T)               #doesnot raise any error

(100, 200, 300, 400)

# CREATING A DICTIONARY

In [37]:
student={           # creating a student dict
    'name':'gokulesh',
    'reg_no':'22mic0102'
}
print(student['name'])   # accesing the value from dict using the key

gokulesh